body {
    background-color: darkgrey;
    color: #041BB5;
}

.hud {
    font-family: Helvetica, Arial;
}

.dst-box-label {
    color: white;
    font-family: Helvetica, Arial;
}

.src-line-label {
    font-size: 15px;
    color: blue;
    font-family: Helvetica, Arial;
    cursor: pointer;
}

.dportbox{
    color: white;
}

.sweep {
    cursor: col-resize;
}

.connline .src-line-label .dst-box .dstportpox {
    cursor: pointer;
}

#infobox {
    position: absolute;
    display: none;
    background: #deebfa;
}