body {
    #background-color: #041BB5;
    background-color: darkgrey;
    #background-color: white;
    color: #041BB5;
}

.hud {
    font-family: Helvetica, Arial;
}

.dst-box-label {
    color: white;
    font-family: Helvetica, Arial;
}

.src-line-label {
    font-size: 0.9em;
    color: blue;
    font-family: Helvetica, Arial;
    cursor: pointer;
}

.dportbox{
    color: white;
}

.sweep {
    cursor: col-resize;
}

.connline .src-line-llabel {
    cursor: pointer;
}
